AgglomCluster>=2.0.6
click>=6.7
fa2>=0.2
h5py>=2.8.0
matplotlib>=2.2.2
natsort>=5.3.3
nbsphinx
networkx>=2.1
numba>=0.39.0
numpy>=1.14.5
pandas>=0.23.3
python-louvain>=0.11
sklearn
scipy>=1.1.0
seaborn>=0.8.1
sphinx-autobuild
sphinx-rtd-theme
sphinxcontrib-websupport
statsmodels>=0.9.0
tqdm>=4.23.3
datashader
umap-learn
